@import './variables';
@import './header';
@import './my_class';
//-------------------chagit-------------------


body{
    margin: 0;
    background-color: silver;
    border:$my_border;
    color: $textColor;
    font-family: $fontFamily;

}

ul {
    a {
        @include a;
    }
}